// typography styles

//h1 styles
.h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
    @media only screen and (max-width: 767px) {
        font-size: 2.4rem;
    }
} 
h1 {
    @extend .h1;
}

//h2 styles
.h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
    @media only screen and (max-width: 767px) {
        font-size: 1.8rem;
    }
}
h2 {
    @extend .h2;
}

//h3 styles
.h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    @media only screen and (max-width: 767px) {
        font-size: 1.3rem;
    }
}
  
h3 {
    @extend .h3;
}

//p styles
.p {
    margin: 0 0 1.2rem 0;
}

p {
    @extend .p;
    &.t--leadin {
        font-size: 1.2rem;
        font-weight: 600;
        &::first-letter {
            initial-letter: 2 1;
            @media only screen and (max-width: 767px) {
                initial-letter: 1 1;
            }
        }
    }
}

//Link styles
a {
    color: $primary-color;
    transition: all 0.3s ease-in-out;
    &:hover {
        text-decoration: underline;
        color: lighten($color: $primary-color, $amount: 20);
    }
}

//Blockquote styles
blockquote {
    background: lighten($color: $primary-color, $amount: 48%);
    margin: 0;
    padding: 0.4rem;
}

//List styles
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin-bottom: 0.4rem;
        &::before {
            content: "• ";
            color: $primary-color;
        }
    }
}

//Misc styles
.t--uppercase {
    text-transform: uppercase;
}