// variables file

// base font family
$base-font-family: Helvetica, Arial, sans-serif;

// base font size
$base-font-size: 1rem;


// base color vars
$primary-color: #1D4ED8;

$button-primary: #2A56D1;
$button-secondary: #D3E2FC;

